/***************TEMPLATE _bloc-photo***************/
.block {
    width: 100%;
    aspect-ratio: 10/8.8;
    max-width: 564px;
    min-width: 300px;
    max-height: 495px;
    position: relative;
    overflow: hidden;
    &-lien-photo{
        display: none;
    }
    &-photo {
        width: 100%;
        height: 100%;
        & > img {
            cursor: pointer;    
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:hover ~ .block-survol{
                opacity: 1;
            }
        }
    } 
    
    &-survol {
        display: block;
        opacity: 1;
        transition: opacity 0.3s ease;  
        & > img {
            cursor: pointer;
            display: block;
            @include Position(absolute, 0, 0, 0, 0); 
            }
    }

    &-overlay {
        width: 100%;
        height: 100%;
        background: rgba($color--black, 0.6);
        @extend %flex-center;
        // position: relative;
        // z-index: 3;
    }
    &-above {
        cursor: pointer;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:100%;
    }
    &-lightbox-expand {       
        display: flex;
        justify-content: end;
    }
    &-info-eye {       
        @extend %flex-center;
    }
    &-infos {       
        display: flex;
        justify-content: space-between;
        & p {
            color: $color--white;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        &-categorie p {
            font-family: $font--heading ;
            letter-spacing: 1.4px;
        } 
    }
}

.icon-lightbox {
    width:40px;
    height: auto;
}

// @media screen and (max-width: #{$breakpoint__large_phone}) {

// }