/***************template_part - block-photo***************/
.block {
    width: 100%;
    aspect-ratio: 10/8.8;
    max-width: $current_width_blockPhoto;
    max-height: $current_height_blockPhoto;
    position: relative;
    overflow: hidden;
    background: rgba($color--palegrey, 0.5);
<<<<<<< HEAD
    &__link{
=======
    &__linkPhoto{
>>>>>>> 07594daf0c9365b2bd4c6c20539cb39c532f169b
        opacity: 0;
        position: absolute;
        color: $color--white; 
    }
    &__photo {
        width: 100%;
        height: 100%;
        & > img {
            cursor: pointer;    
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
}

.blockSurvol {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;  
    @include Position(absolute, 0, 0, 0, 0); 
    &:hover {
        opacity: 1;
    }
    
    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba($color--black, 0.6);
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    &__iconLightbox {       
        display: flex;
        justify-content: end;
        background-color: transparent;
        border: none;        
    }
    &__iconEye {       
        @extend %flex-center;
    }
    &__infos {       
        display: flex;
        justify-content: space-between;
        & p {
            color: $color--white;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        &--Categorie p {
            font-family: $font--heading ;
            letter-spacing: 1.4px;
        } 
    }
}

