/***************template_part - lighbox***************/

.lightbox{
    display: none;
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color--black, 0.8); 
    animation: show 0.5s ease-in-out;
    z-index: $zIndex__lightbox;
    &__open{
        max-width: 100%;
        max-height: 100%;
        @extend %flex-center;
        margin-left: 160px;
        margin-right: 160px;
        margin-top: 40px;
        overflow: auto; 
        // overflow: scroll; 
        z-index: $zIndex__lightbox__img;     
        & img{
            animation: show 0.8s ease-in-out;
            max-width: 100%;
            height: auto;
        }
    } 
    & button{
        cursor: pointer;
        border: none;   
        background: transparent;   
    }
    &__close{
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: $zIndex__lightbox__btnClose;          
        & > span{
            color: $color--white;      
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            &:hover{      
                color: $color--clearred;     
                transform: rotate(90deg);            
                transition: transform 0.2s ease-in-out;
            }        
        }  
    }
<<<<<<< HEAD

=======
    &__open{
        width: 100%;
        max-height: 100%;
        @extend %flex-center;
        overflow: scroll;      
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        & img{
            animation: show 0.8s ease-in-out;
            @extend %flex-center;
            object-fit: cover;
        }
    } 
>>>>>>> 07594daf0c9365b2bd4c6c20539cb39c532f169b
    &__arrows{
        &--previous, &--next {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: fixed;  
            //height pour extension zone activable
            height: 100%;
            @extend %flex-center;
            z-index: $zIndex__lightbox__arrows;
            & >img{
                padding:10px;
            }
            & >p{
                color: $color--white;
                font-family: $font--heading;  
                font-weight: 400;
                font-style: normal;
                font-size: $fontSize__M;
                padding:40px;
                &:hover{
                color: $color--grey;   
                }
            }           
        }
    }
    &__infos {       
        width: 70%;
        display: flex;
        justify-content: space-between;
        & p {
            color: $color--white;
            text-transform: uppercase;
            margin-bottom: 5px;
        } 
        &--Categorie {
            font-family: $font--heading ;
            letter-spacing: 1.4px;  
        } 
    }
}

@media screen and (max-width: #{$breakpoint__laptop}) {
    .lightbox{
        &__open{
            margin-left: 40px;
            margin-right: 40px; 
        } 

        &__arrows{
            z-index: $zIndex__lightbox__arrows--m; 
        }
    }
    &__infos {       
        width: 100%;
        display: flex;
        justify-content: space-between;
        & p {
            color: $color--white;
            text-transform: uppercase;
            margin-bottom: 0;
            padding: 0 20px;
        }         
        &--Categorie {
        font-family: $font--heading ;
        letter-spacing: 1.4px;
        } 
    }
}

@media screen and (max-width: #{$breakpoint__large_phone}) {
    .lightbox{
        &__open{
            margin-left: 0px;
            margin-right: 0px; 
            margin-top: 0px;
        } 
        &__arrows{
            &--previous, &--next {
                & >img{
                    @include circle-icon(20px, rgba($color--black, 0.6));
                    padding: 2px;
                    }
                & >p{
                    display: none;
                    }
                }           
            }   
        }
    }
