/*scss de la lighbox*/

.lightbox{
    display: none;
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color--black, 0.8); 
    animation: show 0.5s ease-in-out;
    z-index: $zIndex__lightbox;
    &__close{
        position: absolute;
        top: 50px;
        right: 50px;
        background: none;
        border: none;        
        cursor: pointer;
        z-index: $zIndex__lightbox__btnClose;          
        & > span{
            color: $color--white;      
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            &:hover{      
                color: $color--clearred;     
                transform: rotate(90deg);            
                transition: transform 0.2s ease-in-out;
            }        
        }  
    }
    &__open{
        width: 100%;
        max-height: 100%;
        @extend %flex-center;
        overflow: scroll;      
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        & img{
            animation: show 0.8s ease-in-out;
            @extend %flex-center;
            object-fit: cover;
        }
    } 
    &__arrows{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;  
        //height pour extension zone activable
        height: 80%;      
        &--previous, &--next {
            @extend %flex-center;
            gap: 20px;
            z-index: $zIndex__lightbox__arrows;
            cursor: pointer;
            & >p{
                color: $color--white;
                font-family: $font--heading;  
                font-weight: 400;
                font-style: normal;
                font-size: $font-size-H3;
            }
            &:hover{
                color: $color--red;   
            }
        }
        &--previous{
            padding-left: 20px; 
        }
        &--next{
            padding-right: 20px;
        }
    }
    &__infos {       
        width: 100%;
        display: flex;
        justify-content: space-between;
        & p {
            color: $color--white;
            text-transform: uppercase;
            margin-bottom: 0;
            padding: 0 20px;
        }         
        &--Categorie {
        font-family: $font--heading ;
        letter-spacing: 1.4px;
        } 
    }
}

