/***************TEMPLATE _modale***************/

/* Modale cachée par défaut */
.modale {
    display: none;
    &.show {
    display: flex; 
    animation: show 0.5s forwards;
    }
    &.hide {
    animation: hide 0.5s forwards;
    }
}

#contact-overlay {
    width: 100%;
    height: 100%;
    background: rgba($color--black, 0.8);
    @include Position(fixed, 0, 0, 0, 0);
    @extend %flex-center;
    z-index: 999;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: -18px;
    @extend %flex-center;
    background: $color--white;
    border-radius: 20px;
    border: 5px $color--black solid;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 2;
    & > .line{
        height: 2px;
        background-color: $color--red;
        display: block;
        margin: auto;
        margin-block: 2px;
        width: 15px;
        &:nth-child(1){
            position: absolute;
            transform: rotate(45deg);
        }
        &:nth-child(2){
            position: absolute;
            transform:  rotate(-45deg);
        }
    }
}

.title-contact {
    overflow: hidden;
    width: 100%;
    & p {
        color: $color--black;
        font-family: $font--heading;
        font-weight: 400;
        font-style: italic;
        font-size: 4.1rem;
        line-height: 3.5rem;
        text-transform: uppercase;
        padding-bottom: 0;
    }
    &-top  {
        margin: 0;
        position: relative;
        right: 140px;
        @include slide_in('slideInLeft', 100px);  
    }
    &-bottom {
        margin: 0;
        padding-bottom: 20px;
        position: relative;
        right: 100px;
        @include slide_in('slideInRight', -100px);  
    }
}

.contact-popup {
    width: 596px;
    max-height: 770px;
    border: 5px $color--black solid;
    background: $color--white;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include Position(relative, 0, 0, 5%, 0);
    padding-top: 10px;
}

.contact-form{
    width: 260px;
    margin: 0;
    padding: 0;
}

.wpcf7 {
    margin: 0 ;
    & label{
        font-size: $font-size-S;      
        text-transform: uppercase;
        font-family: $font--body;
    }
    &-form-control{
        border-radius: 8px;
        border: 1px $color--grey solid;
        height: 36px;
        width: 100%;
        margin-top: 4px;
        margin-bottom: 8px;
    }
    &-textarea{
        height: 210px; 
        margin-bottom: 4px;
        resize:none;
    }
    &-submit{
        @include submit(100%);
    }

    //messages field invalid
    &-not-valid-tip{
        color: $color--clearred;  
        position: absolute;
        bottom: 34px;
        left: 60px;   
        text-transform: lowercase;
        @include fade_in('fadeIndbUp', 200px);
        & .popup-message {
            bottom: 225px;
        }    
    }
    &-response-output{
        margin: 4em !important;
        padding: 30px !important;
        border-radius: 90px !important ;
        border: none !important;
        text-align: center;
        background-color: $color--palered;
        position: absolute;  
        bottom: 40px;
        left: 440px;
        width: 110px;
        font-size: $font-size-S;      
        font-family: $font--body;    
        & form.invalid{
            background-color: $color--clearred !important;
        }
    }
}
 //messages field invalid textarea
.popup-message .wpcf7-not-valid-tip {
    bottom: 225px;
}

.popup-submit > p{
    margin: 0;
}



.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.spam .wpcf7-response-output {
    color: $color--white;
    background-color: $color--clearred !important;
    animation: invalidShake 200ms ease;
    animation-iteration-count: 2;
}

.wpcf7 form.sent .wpcf7-response-output {
    max-width: 80px;
    animation: show 0.25s forwards;
}

@keyframes invalidShake {
    25% {
        transform: translateX(#{$shake-intensity});
    }
    75%{
        transform: translateX($shake-intensity * -1);
    }
}