/* utilisation des polices Google Fonts en local */ 

//font heading
/*  regular 400 : SpaceMono regular*/
@font-face {
    font-family: "SpaceMono";
    src: url("assets/fonts/SpaceMono-Regular.woff2 ") format("woff2"),
    url("assets/fonts/SpaceMono-Regular.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

/*  italic 400 : SpaceMono-Italic */
@font-face {
    font-family: "SpaceMono";
    src: url("assets/fonts/SpaceMono-Italic.woff2 ") format("woff2"),
    url("assets/fonts/SpaceMono-Italic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

/* bold 700 : SpaceMono-Bold*/
@font-face {
    font-family: "SpaceMono";
    src: url("assets/fonts/SpaceMono-Bold.woff2 ") format("woff2"),
    url("assets/fonts/SpaceMono-Bold.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

/* bold italic 700 : SpaceMono-BoldItalic*/
@font-face {
    font-family: "SpaceMono";
    src: url("assets/fonts/SpaceMono-BoldItalic.woff2 ") format("woff2"),
    url("assets/fonts/SpaceMono-BoldItalic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}

//font body
/*  light 300 : Poppins-Light*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Light.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-Light.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

/*  LightItalic 300 : Poppins-LightItalic*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-LightItalic.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-LightItalic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}

/*  regular 400 : Poppins-Regular*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Regular.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-Regular.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

/*  Italic 400 : Poppins-Italic*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Italic.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-Italic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

/*  Medium 500 : Poppins-Medium*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Medium.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-Medium.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}

/*  Italic 500 : Poppins-MediumItalic*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-MediumItalic.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-MediumItalic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}

/*  bold 600 : Poppins-SemiBold*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-SemiBold.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-SemiBold.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

/*  bold 600 : Poppins-SemiBoldItalic*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-SemiBoldItalic.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-SemiBoldItalic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 600;
}

/*  bold 700 : Poppins-Bold*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Bold.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-Bold.woff ") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

/*  bold 700 : Poppins-BoldItalic*/
@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-BoldItalic.woff2 ") format("woff2"),
    url("assets/fonts/Poppins-BoldItalic.woff ") format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}