/***************TEMPLATE _bloc-photo***************/
.sibling {
    width: 564px;
    height: 495px;
    background-color: $color--palegrey;
    position: relative;
    &-survol {
        display: block;
        @include Position(absolute, 0, 0, 0, 0); 
    }
    &-overlay {
        width: 100%;
        height: 100%;
        background: rgba($color--black, 0.8);
        @include flex-center;
        z-index: 3;
    }
    &-above {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:100%;
    }
    &-lightbox-expand {       
        display: flex;
        justify-content: end;
        margin-top: 10px;
        &-icon{
            @include flex-center;
            @include circle-icon(50px);
        }
    }
    &-info-eye {       
        @include flex-center;
        font-size: 45px;
        color: $color--white;   
    }
    &-infos {       
        font-size: $font-size-M;
        color: $color--white;
        display: flex;
        justify-content: space-between;
        & p{
            color: $color--white;
            text-transform: uppercase;
        }
        &-categorie p{
            font-family: $font--heading ;
        } 
    }
}



