/***************TEMPLATE _bloc-photo***************/
.block {
    width: 564px;
    height: 495px;
    position: relative;
    overflow: hidden;
    &-lien-photo{
        display: none;
    }
    &-photo {
        width: 100%;
        height: 100%;
        & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    } 
    &-survol {
        //display: none;
        display: block;
        @include Position(absolute, 0, 0, 0, 0); 
    }
    &-overlay {
        width: 100%;
        height: 100%;
        background: rgba($color--black, 0.6);
        @include flex-center;
        // position: relative;
        // z-index: 3;
    }
    &-above {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:100%;
    }
    &-lightbox-expand {       
        display: flex;
        justify-content: end;
    }
    &-info-eye {       
        @include flex-center;
    }
    &-infos {       
        display: flex;
        justify-content: space-between;
        & p {
            color: $color--white;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        &-categorie p {
            font-family: $font--heading ;
            letter-spacing: 1.4px;
        } 
    }
}

.icon-lightbox {
    width:40px;
    height: auto;
}