
.dropdown {
    display: flex;
    justify-content : space-between;
    align-items: center;
    height: 43px;
    margin-top: 5px;
    margin-bottom: 5px;
	&__switch:checked + &__options-filter &__select {
		transform: scaleY(1);
	}
	&__switch:checked + &__options-filter &__filter:after {
		transform: rotate(-135deg);
	}
	&__options-filter {
    width: 100%;
    cursor: pointer;
    }

    &__filter {
        position: relative;
        display: flex;
        padding: 14px;
        background-color: $color--white;
        border: 2px solid $color--grey;
        border-radius: 8px;
        transition: .3s;
        &-selected{
            text-transform: uppercase;
            font-size: $font-size-S; 
            font-weight: 400;
        }		
        &:focus {
            border-radius: 8px 8px 0px 0px ;
            // background-color: $color--red;	
        }
    // curseur
        &::after {
            position: absolute;
            top: 45%;
            right: 20px;
            content: '';
            width: 10px;
            height: 10px;
            border-right: 2px solid $color--deepgrey;
            border-bottom: 2px solid $color--deepgrey;
            transform: rotate(45deg) translateX(-45%);
            transition: .2s ease-in-out;
        }
    }
    & ul{
        list-style-type: none;
    }

    //ul
    &__select {
        position: absolute;        top: 100%;
        left: -40px;
        width: calc(100% + 40px);
        // margin-top: 5px;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        font-weight: 300;
        transition: .2s ease-in-out;
        z-index: 80;
    }
    
	&__select-option {
        padding: 14px;
        background-color: $color--white;
        border-bottom: 1px solid $color--cleargrey;
        transition: .3s;
        font-size: $font-size-S; 
        font-weight: 400;
        &:last-of-type {
            border-bottom: 0;
            border-radius: 0px 0px 8px 8px ;
        }
        &:hover {
            background-color: $color--palered;
        }
        &:active{
            background-color: $color--clearred;
        }
    }	
}
