/***************VARIABLES***************/
//colors
$color--white:#ffffff;  // form
$color--black:#000000;  //text
$color--deepgrey:#313144;
$color--grey:#c4c4c4; //bordure field form
$color--cleargrey:#d8d8d8;
$color--palegrey:#e5e5e5;

$color--red:#e00000;  //button selected
$color--clearred:#fe5858;  //button pressing
$color--palered:#ffd6d6;  //button hover


//fonts
$font--heading: "SpaceMono", sans-serif;
$font--body: "Poppins", sans-serif;

$font-size-S: 0.72rem; /*10px */
$font-size-M: 1rem; /*14px */
$font-size-H3: 1.28rem; /*18px */
$font-size-H2m: 3.28rem; /*46px */
$font-size-H2: 4.71rem; /*66px */
$font-size-H1: 6.86rem; /*96px */
$font-size-H1m: 1.97rem; /*27.6px */

// breakpoints
$breakpoint__laptop: 1192px;
$breakpoint__tablet: 1040px;
$breakpoint__small_tablet: 920px;
$breakpoint__large_phone: 700px;

//dimensions
$margeX: 146px;
$margeXm: 40px;

@mixin Position($position, $top, $right, $bottom, $left){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//----------------------- mixin
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// placeholder : marche pas
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin submit ($width){
    background: $color--grey;       
    color: $color--black;             
    padding: 15px 0;   
    height: 50px;    
    font-size: $font-size-S;  
    font-family: $font--heading; 
    border: 0;               
    border-radius: 3px;   
    transition: .3s ease-in-out;
    width: $width;
    &:hover{
        background: $color--black;
        color: $color--white;     
    }
}
@mixin circle-icon ($diameter){
    background: $color--black;   
    color: $color--white;                
    height: $diameter;    
    width: $diameter;
    font-size: calc($diameter/2); 
    border: 0;               
    border-radius: calc($diameter/2);   
    transition: .3s ease-in-out;
}


//_____________________________ FADE IN 
$fade_in_time: 150ms;

@mixin fade_in($animationName, $yValue) {
    @keyframes #{$animationName} {
        from {
            opacity: 0;
            transform: translateY(#{$yValue});
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    animation: #{$animationName} ease $fade_in_time;
}

$shake-intensity: 5%;

@mixin slide_in($animationSlideName, $yValue) {
    @keyframes #{$animationSlideName} {
        from {
            opacity: 0;
            transform: translateX(#{$yValue});
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    animation: #{$animationSlideName} ease-in-out 500ms;
}


@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}