.modale{
    display: none;
    &-block{
        display: block;
    }
}

#contact-overlay {
    width: 100%;
    height: 100%;
    background: rgba($color--black, 0.8);
    @include Position(fixed, 95px, 0, 0, 0);
    z-index: 999;
}

.contact-popup {
    width: 596px;
    min-height: 770px;
    max-height: 950px;
    border: 5px $color--black solid;
    background: $color--white;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include Position(absolute, 45%, 0, 0,50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
    & img{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 150%;
    }
}

.contact-form{
    width: 260px;
}

.wpcf7 {
    margin-top: 30px;
    & label{
        font-size: $font-size-S;      
        text-transform: uppercase;
        font-family: $font--body;
    }
    &-form-control{
        border-radius: 8px;
        border: 1px $color--grey solid;
        height: 36px;
        width: 100%;
        margin-top: 4px;
        margin-bottom: 8px;
    }
    &-textarea{
        height: 210px; 
        margin-bottom: 4px;
        resize:none;
    }
    &-submit{
        background: $color--grey;       
        color: $color--black;             
        padding: 15px 0;   
        height: 50px;    
        font-size: $font-size-S;  
        font-family: $font--header;              
        border-radius: 3px;     
        border: 0;           
        transition: .3s ease-in-out;
        width: 100%;
        &:hover{
            background: $color--black;
            color: $color--white;     
        }
    }
    //messages field invalid
    &-not-valid-tip{
        color: $color--clearred;  
        position: absolute;
        bottom: 34px;
        left: 60px;   
        text-transform: lowercase;
        @include fade_in('fadeIndbUp', 200px);
        & .popup-message {
            bottom: 225px;
        }    
    }
    &-response-output{
        margin: 0 !important;
        padding: 18px !important;
        border-radius: 90px !important ;
        border: none !important;
        text-align: center;
        background-color: $color--palered;
        position: absolute;  
        bottom: 40px;
        left: 440px;
        width: 110px;
        font-size: $font-size-S;      
        font-family: $font--body;    
        & form.invalid{
            background-color: $color--clearred !important;
        }
    }
}
 //messages field invalid textarea
.popup-message .wpcf7-not-valid-tip {
    bottom: 225px;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.spam .wpcf7-response-output {
    background-color: $color--clearred !important;
    max-width: 155px;
    animation: invalidShake 150ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 3;
}

.wpcf7 form.sent .wpcf7-response-output {
    max-width: 80px;
    @include fade_in('fadeInUp', 100px);
}

@keyframes invalidShake {
    25% {
        transform: translateX(#{$shake-intensity});
    }
    75%{
        transform: translateX($shake-intensity * -1);
    }
}