/***************CUSTOM POST single-photographies***************/
//partie 1
.photo-choice {
    // height: 100vh;
    width: 100%;
}
//partie 1 zone 1
.infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between; 
    gap: 20px;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid $color--black;
    & > h2{
        max-width: 75%;
        line-height: 68px;
        margin-bottom: 20px;
    }
}

.photo-choice-img {
    width: 50%;
    height: auto;
    & figure {
        padding: 0;
        margin: 0;
        object-fit: contain;
    }
}

//partie 1 zone 2
.photo-choice-interactions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.photo-choice-contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 25px;
}

.btn-choice {
    @include submit(270px);
}

.photo-navigation {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    margin-top: 8px;
}

.vignette-temp {
    width: 80px;
    height: 70px;
    background-color: $color--palered;}

.arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-bottom: 11px;
    width: 80px;
}

//partie  2
.siblings {
    border-top: 2px solid $color--black;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
        &-row {
        display: flex;
        gap: 20px;
        padding-top: 20px;
    }
}