/***************CUSTOM POST single-photographies***************/
//partie 1
.photo-choice {
  // height: calc(100vh-56px);
    width: 100%;
}
//partie 1 zone 1
.infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between; 
    gap: 20px;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid $color--black;
    & > h2 {
        max-width: 75%;
        line-height: 68px;
        margin-bottom: 20px;
    }
}

.photo-choice-img {
    width: 50%;
    height: auto;
    & figure {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

//partie 1 zone 2
.photo-choice-interactions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
}

.photo-choice-contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 25px;
}

.btn-choice {
    @include submit(270px);
}

.photo-navigation {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column-reverse;
   // background: rgba($color--palered, 0.5); //temporaire
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px 0;
    width: 80px;
    &-left, &-right {
        position: relative;
        display: flex;
        align-items: flex-end;
        z-index: 1; 
    } 
    &-left:hover ~  .thumbnail-left,
    &-right:hover ~ .thumbnail-right {
        opacity: 1;
    }
}

.thumbnail-left, .thumbnail-right {    
    width: 80px;
    height: 70px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 25px;    
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease;  
    & > figure {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


//partie  2
.siblings {
    border-top: 2px solid $color--black;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
        &-row {
        display: flex;
        gap: 20px;
        padding-top: 20px;
    }
}