h1 {
    font-family: "SpaceMono";
    color: $color--red;
}

/***************HEADER***********/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 4px 4px 0 $color--black-opacity;
}
nav{
    margin-right: 100px;
}

.logo{
    margin-left: 100px;
    & img{
        max-width: 250px;
    }
}

/***************MENU***********/


.menu {
    display: flex;
    gap: 50px;
    & li {
        list-style: none;
        @include flex-center;
        //@extend %flex-center;
    }
    & a {
        color: $color--black;
        text-decoration: none;
        font-family: $font--header;
        font-weight: 400;
        font-style: normal;
        &:hover{
            font-weight: 700;
        }
    }
}

/***************FOOTER***********/

footer {
    @include flex-center;
    border-top: 1px $color--black solid;
    width: 100%;

}